In [1]:
import pandas as pd
data1 = pd.read_csv('TWITTER_DATASET.csv')
data1

     sentiment                                               Text
0     Positive  im getting on borderlands and i will murder yo...
1     Positive  I am coming to the borders and I will kill you...
2     Positive  im getting on borderlands and i will kill you ...
3     Positive  im coming on borderlands and i will murder you...
4     Positive  im getting on borderlands 2 and i will murder ...
...        ...                                                ...
7170  Positive                                   Thanks y'all! .
7171  Positive                              Thank you very much!.
7172  Positive                                     Thanks y'all!.
7173  Positive                                    Thanks Ya'all!.
7174  Positive                                What Thanks y'all!.

[7175 rows x 2 columns]

In [2]:
data1.dropna(inplace = True)
data1.reset_index(drop=True, inplace=True)

In [3]:
data1['target_variable'] = data1['sentiment']
data1['Features'] = data1['Text']
data1.drop(['Text', 'sentiment'], axis=1, inplace=True)
data1

     target_variable                                           Features
0           Positive  im getting on borderlands and i will murder yo...
1           Positive  I am coming to the borders and I will kill you...
2           Positive  im getting on borderlands and i will kill you ...
3           Positive  im coming on borderlands and i will murder you...
4           Positive  im getting on borderlands 2 and i will murder ...
...              ...                                                ...
7090        Positive                                   Thanks y'all! .
7091        Positive                              Thank you very much!.
7092        Positive                                     Thanks y'all!.
7093        Positive                                    Thanks Ya'all!.
7094        Positive                                What Thanks y'all!.

[7095 rows x 2 columns]

In [4]:
from sklearn.preprocessing import LabelEncoder
target_encode1 = LabelEncoder()
data1['target_variable'] = target_encode1.fit_transform(data1['target_variable'])
data1

      target_variable                                           Features
0                   3  im getting on borderlands and i will murder yo...
1                   3  I am coming to the borders and I will kill you...
2                   3  im getting on borderlands and i will kill you ...
3                   3  im coming on borderlands and i will murder you...
4                   3  im getting on borderlands 2 and i will murder ...
...               ...                                                ...
7090                3                                   Thanks y'all! .
7091                3                              Thank you very much!.
7092                3                                     Thanks y'all!.
7093                3                                    Thanks Ya'all!.
7094                3                                What Thanks y'all!.

[7095 rows x 2 columns]

In [5]:
from sklearn.feature_extraction.text import CountVectorizer
Vectorizer1 = CountVectorizer()
Vec1 = Vectorizer1.fit_transform(data1['Features'])
bow_data1 = pd.DataFrame(Vec1.toarray(), columns = Vectorizer1.get_feature_names_out())
bow_data1['target_variable'] = data1['target_variable']
bow_data1

,00,000,01,02,03,03573057,0359873057,04,05,06,...,zyfapoihpy,ееееееееееееееееееееееееееееееееееееееееееееееееееееееееееееееееееееееееееееееееееееееееееееееееееееееееееееееееееееееееееееееееееееееееееееееееееееееееееееееееееееееееееееееееееееееееееееееееееееее,есть,июля,сетью,третьарце,اللعبه,حبيت,خلاص,target_variable
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,3
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,3
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,3
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,3
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7090,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,3
7091,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,3
7092,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,3
7093,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,3
7094,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,3

In [6]:
from sklearn.feature_extraction.text import TfidfVectorizer
vectorizer11 = TfidfVectorizer()
vec11 = vectorizer11.fit_transform(data1['Features'])
features_tfidf11 = pd.DataFrame(vec11.toarray(), columns=vectorizer11.get_feature_names_out())
tfidf_data11 = pd.concat([data1, features_tfidf11], axis=1)
tfidf_data11['target_variable'] = data1['target_variable']
del tfidf_data11['Features']
tfidf_data11

,target_variable,00,000,01,02,03,03573057,0359873057,04,05,...,zw6i2qikai,zyfapoihpy,ееееееееееееееееееееееееееееееееееееееееееееееееееееееееееееееееееееееееееееееееееееееееееееееееееееееееееееееееееееееееееееееееееееееееееееееееееееееееееееееееееееееееееееееееееееееееееееееееееееее,есть,июля,сетью,третьарце,اللعبه,حبيت,خلاص
0,3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7090,3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7091,3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7092,3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7093,3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7094,3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [7]:
from DKE.extractor import KeywordExtractor
from DKE.counter import KeywordCounter
Keywords, classes = KeywordExtractor(data1,'Features','target_variable')
DKE_data111 = KeywordCounter(data1, 'Features','target_variable', Keywords, classes)
del DKE_data111['Features']
DKE_data111

      target_variable  3  2  1  0
0                   3  1  0  0  0
1                   3  1  0  0  0
2                   3  0  0  0  0
3                   3  1  0  0  0
4                   3  1  0  0  0
...               ... .. .. .. ..
7090                3  0  0  0  0
7091                3  0  0  0  0
7092                3  0  0  0  0
7093                3  0  0  0  0
7094                3  0  0  0  0

[7095 rows x 5 columns]

In [8]:
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier

X1 = bow_data1.drop(['target_variable'], axis=1)
y1 = bow_data1['target_variable']
X_train1, X_test1, y_train1, y_test1 = train_test_split(X1,y1, test_size=0.2, random_state=42)

# Logistic Regression
lr_model1 = LogisticRegression()
lr_model1.fit(X_train1, y_train1)
lr_train1_accuracy = accuracy_score(y_train1, lr_model1.predict(X_train1))
lr_test1_accuracy = accuracy_score(y_test1, lr_model1.predict(X_test1))

# Decision Tree
dt_model1 = DecisionTreeClassifier()
dt_model1.fit(X_train1, y_train1)
dt_train1_accuracy = accuracy_score(y_train1, dt_model1.predict(X_train1))
dt_test1_accuracy = accuracy_score(y_test1, dt_model1.predict(X_test1))

C:\Users\SRIKANTH\anaconda3_1\Lib\site-packages\sklearn\linear_model\_logistic.py:460: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

In [9]:
X11 = tfidf_data11.drop(['target_variable'], axis=1)
y11 = tfidf_data11['target_variable']
X_train11, X_test11, y_train11, y_test11 = train_test_split(X11, y11, test_size=0.2, random_state=42)

# Logistic Regression
lr_model11 = LogisticRegression()
lr_model11.fit(X_train11, y_train11)
lr_train11_accuracy = accuracy_score(y_train11, lr_model11.predict(X_train11))
lr_test11_accuracy = accuracy_score(y_test11, lr_model11.predict(X_test11))

# Decision Tree
dt_model11 = DecisionTreeClassifier()
dt_model11.fit(X_train11, y_train11)
dt_train11_accuracy = accuracy_score(y_train11, dt_model11.predict(X_train11))
dt_test11_accuracy = accuracy_score(y_test11, dt_model11.predict(X_test11))

C:\Users\SRIKANTH\anaconda3_1\Lib\site-packages\sklearn\linear_model\_logistic.py:460: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

In [10]:
X111 = DKE_data111.drop(['target_variable'], axis=1)
y111 = DKE_data111['target_variable']
X_train111, X_test111, y_train111, y_test111 = train_test_split(X111, y111, test_size=0.2, random_state=42)

# Logistic Regression
lr_model111 = LogisticRegression()
lr_model111.fit(X_train111, y_train111)
lr_train111_accuracy = accuracy_score(y_train111, lr_model111.predict(X_train111))
lr_test111_accuracy = accuracy_score(y_test111, lr_model111.predict(X_test111))

# Decision Tree
dt_model111 = DecisionTreeClassifier()
dt_model111.fit(X_train111, y_train111)
dt_train111_accuracy = accuracy_score(y_train111, dt_model111.predict(X_train111))
dt_test111_accuracy = accuracy_score(y_test111, dt_model111.predict(X_test111))

In [11]:
print("\033[1mTWITTER_DATASET\033[0m")
print('\n')
print("Logistic Regression Bag of Words:")
print("Train Accuracy:", lr_train1_accuracy)
print("Test Accuracy:", lr_test1_accuracy)
print('\n')
print("Logistic Regression Tf-idf:")
print("Train Accuracy:", lr_train11_accuracy)
print("Test Accuracy:", lr_test11_accuracy)
print('\n')
print("Logistic Regression DKE:")
print("Train Accuracy:", lr_train111_accuracy)
print("Test Accuracy:", lr_test111_accuracy)
print('\n')
print("Decision Tree Bag of Words:")
print("Train Accuracy:", dt_train1_accuracy)
print("Test Accuracy:", dt_test1_accuracy)
print('\n')
print("Decision Tree Tf-idf:")
print("Train Accuracy:", dt_train11_accuracy)
print("Test Accuracy:", dt_test11_accuracy)
print('\n')
print("Decision Tree DKE:")
print("Train Accuracy:", dt_train111_accuracy)
print("Test Accuracy:", dt_test111_accuracy)

TWITTER_DATASET


Logistic Regression Bag of Words:
Train Accuracy: 0.9732205778717407
Test Accuracy: 0.9281183932346723


Logistic Regression Tf-idf:
Train Accuracy: 0.9593023255813954
Test Accuracy: 0.9013389711064129


Logistic Regression DKE:
Train Accuracy: 0.8285764622973926
Test Accuracy: 0.8329809725158562


Decision Tree Bag of Words:
Train Accuracy: 0.98907681465821
Test Accuracy: 0.8322762508809021


Decision Tree Tf-idf:
Train Accuracy: 0.9889006342494715
Test Accuracy: 0.7801268498942917


Decision Tree DKE:
Train Accuracy: 0.8285764622973926
Test Accuracy: 0.8329809725158562